.hero-slide {
    min-height: 450px;
    max-height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hero-slide h2{
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 10px;
}
.hero-slide h3{
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
}
.hero-slide p{
    color: #fff;
    margin: 0;
}